preprocess/release89
upload_drive/*.zip
upload_drive/
samples/*/
samples/*.zip
samples/.DS_Store
data/preprocess/__pycache__
outputs/.*
data/preprocess/.DS_Store
data/*/*.icloud
data/*/*/*.icloud
data/.DS_Store
data/DS_10283_3009/*
FTM/**
data/DS_10283_3009/genomes/*.json
data/s__GCA_002351885.1/*
