preprocess/release89
**/.DS_Store
upload_drive/*.zip
upload_drive/
samples/*/
samples/*.zip
samples/.DS_Store
data/preprocess/__pycache__
outputs/.*
data/preprocess/.DS_Store
data/*/*.icloud
data/*/*/*.icloud
data/.DS_Store
data/DS_10283_3009/genomes/*.json
data/s__GCA_002351885.1/*
samples/arc_bac120_metadata_r202_edit.txt
*/d__Bacteria.txt
outputs-GTDB-r202-archive3/d__Bacteria.txt
